@import "../../sass/variables";

$-tab-bottom: #{$namespace}tab-bottom;
$-tab-item-bottom: #{$namespace}tab-item-bottom;
$-tab: #{$namespace}tab;
$-tab-content: #{$namespace}tab-content;
$-tab-list: #{$namespace}tab-list;
$-tab-item: #{$namespace}tab-item;
$-tab-background: #fafafa;
$-tab-text-color: #999;
$-tab-active-color: $pink;
