//
// You can override custom namespace, and the `is-` prefix is not apply for namespace.
//
$namespace: "" !default;

//
// Import bases, components, etc.
//
@import "bases/normalize";
@import "bases/reboot";
@import "bases/colors";
@import "bases/typography";
@import "bases/code";
@import "grids/section";
@import "grids/flex";
@import "grids/spacing";
@import "components/row";
@import "components/letter";
@import "components/stage";
@import "components/icon";
@import "components/button";
@import "components/card";
@import "components/form";
@import "components/tab";
@import "components/popup";
@import "components/searchbar";
@import "components/tag";
@import "components/rate";
@import "components/control";
@import "components/scroller";
@import "components/collapse";
