@import "../variables";

// @private
//
$-grid-flex-cols: "#{$namespace}cols";

// @private
$-grid-flex-col: "#{$namespace}col";

// Columns
// @class .cols
//
.#{$-grid-flex-cols} {
  display: flex;
}

// Column
// @class .col
//
.#{$-grid-flex-col} {
  flex: 1;

  // Specify column class
  // @class .col.is-2 ~ .col.is-11
  //
  @for $num from 2 through 11 {
    &.is-#{$num} {
      flex: #{$num};
    }
  }
}

// Gapless column
// @class .col.is-gapless
//
.#{$-grid-flex-cols}.is-gap {
  margin-left: $grid-gutters / -2;
  margin-right: $grid-gutters / -2;

  .#{$-grid-flex-col} {
    margin-left: $grid-gutters / 2;
    margin-right: $grid-gutters / 2;
  }
}
