@import "../variables";

// @private
//
$-grid-flex-cols: "#{$namespace}cols";

// @private
$-grid-flex-col: "#{$namespace}col";

// Columns
// @class .cols
//
.#{$-grid-flex-cols} {
  display: flex;
  margin: 0 $grid-gutters * -0.5;
}

// Column
// @class .col
//
.#{$-grid-flex-col} {
  flex: 1;
  overflow: hidden;
  margin: 0 $grid-gutters * 0.5;

  // Specify column class
  // @class .col.is-2 ~ .col.is-11
  //
  @for $num from 2 through 11 {
    &.is-#{$num} {
      flex: #{$num};
    }
  }
}
