@import "../variables";
@import "../mixins/media";

$-grid-container: #{$namespace}container;
$-grid-section: #{$namespace}section;

.#{$-grid-container} {

  margin: 0 $grid-gutters;

  @each $name, $width in $grid-max-widths {
    @include min-screen($name) {
      width: $width;
      margin: 0 auto;
    }
  }
}

.#{$-grid-section} {
  margin: 0 $grid-gutters;
}
