@import "../variables";

// Margin and padding
// @class .{m, p}-{t, r, b, l, x, y, a}-{0 ~ 4}
// @class .m-t-1
// @class .p-t-1
// @class .m-x-1 .m-y-1 .m-a-1
// @class .p-x-1 .p-y-1 .p-a-1
//
@each $prop, $prop-abbrev in (margin: m, padding: p) {
  @each $direction, $direction-abbrev in (top: t, right: r, bottom: b, left: l, x: x, y: y, a: a) {
    @for $i from 0 through 4 {
      .#{$prop-abbrev}-#{$direction-abbrev}-#{$i} {

        $gutter: $grid-gutters * 0.5 * $i;

        @if $direction == x {
          #{$prop}: {
            left: $gutter !important;
            right: $gutter !important;
          }
        } @else if $direction == y {
          #{$prop}: {
            top: $gutter !important;
            bottom: $gutter !important;
          }
        } @else if $direction == a {
          #{$prop}: $gutter !important;
        } @else {
          #{$prop}-#{$direction}: $gutter !important;
        }
      }
    }
  }
}

.is-center-text {
  text-align: center;
}
