@import "../../../shares/scss/vars";
@import "../../../shares/scss/mixins/media";

// Import external css
@import "~@humans/layer/dist/main.css";
@import "~@humans/shade/dist/main.css";
@import "~@humans/card/dist/main.css";
@import "~@humans/message/dist/main.css";

.mn-datetime {
  position: fixed;
  top: 50%;
  right: 0.5rem;
  left: 0.5rem;
  height: 240px;
  margin-top: -120px;

  @include min-screen(tablet) {
    width: 400px;
    right: auto;
    left: 50%;
    margin-left: -200px;
  }
}

.mn-datetime-date,
.mn-datetime-time {
  margin: 0;
  padding: 0;
}

.mn-datetime-date {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}

.mn-datetime-time {
  font-size: 1.6rem;
}

.mn-datetime-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mn-datetime-item {
  flex: 1 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  > select {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    font-weight: 300;
    appearance: none;
  }
}
