{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "iOS >= 7.1",
            "Android >= 4.3",
            "Samsung >= 4",
            "not ie <= 10",
            "not Opera <= 200"
          ]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
