@import "../../../shares/scss/vars";

$-button-secondary: (
  secondary: (
    normal: (bg: #d9d9d9, color: #000),
    hover: (bg: darken(#d9d9d9, 10%)),
    active: (bg: darken(#d9d9d9, 10%)),
    disable: (bg: darken(#d9d9d9, 10%), color: darken(#d9d9d9, 30%))
  ),
  secondary-outline: (
    normal: (color: #999, border: #bbb),
    hover: (color: darken(#999, 20%), border: darken(#bbb, 20%)),
    active: (color: darken(#999, 20%), border: darken(#bbb, 20%)),
    disable: (color: darken(#999, 20%), border: darken(#bbb, 20%))
  ),
  secondary-link: (
    normal: (color: #999),
    hover: (color: #000),
    active: (color: #000),
    disable: (color: #ccc)
  )
);
