@import "../../../shares/scss/vars";

// Import external css
@import "~@humans/layer/dist/main.css";
@import "~@humans/shade/dist/main.css";
@import "~@humans/loading-icon/dist/main.css";

.mn-loading-mask {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  top: 45%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  color: #333;
  border-radius: 0.75rem;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}
