@import "../../../shares/scss/vars";

.mn-shade {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.4;
  z-index: 1000;
}

.mn-shade-fade-enter-active,
.mn-shade-fade-leave-active {
  transition: opacity 0.3s linear;
}

.mn-shade-fade-enter,
.mn-shade-fade-leave-active {
  opacity: 0;
}
