@import "../../../shares/scss/vars";

// Import external css
@import "~@humans/icon/dist/main.css";
@import "~@humans/card/dist/main.css";

$mn-radio-grid-gutters: grid-gutters;
$mn-radio-color: #999;
$mn-radio-active-color: $green;

.mn-radio {
  &-label {
    cursor: pointer;
    user-select: none;

    & + & {
      margin-left: $mn-radio-grid-gutters;
    }
  }

  &-checkmark {
    color: $mn-radio-color;

    &.is-active {
      color: $mn-radio-active-color;
    }
  }
}

.mn-radio-tag {
  display: inline-block;
  border: solid 2px $gray;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;

  & + & {
    margin-left: 0.5rem;
  }

  &.is-active {
    background: $green;
    color: #fff;
    border-color: $green;
  }
}
