@import "../variables";

$-bar-search: #{$namespace}bar-search;
$-bar-search-input: #{$namespace}bar-search-input;
$-bar-search-button: #{$namespace}bar-search-button;
$-ani-bar-search: #{$namespace}ani-bar-search;
$-bar-tab-lists: #{$namespace}bar-tab-lists;
$-bar-tab-items: #{$namespace}bar-tab-items;
$-bar-tab-text-color: #999;
$-bar-tab-active-color: $pink;
$-bar-search-button-color: $pink;

button:focus,
input:focus {
  outline: none;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:active, a:hover, a:visited {
  color: $-bar-tab-text-color;
  text-decoration: none;
}

.#{$-bar-search} {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding: 0 1rem;

  .#{$-bar-search-input} {
    display: block;
    flex: 1 1 auto;
    position: relative;

    input {
      height: 2rem;
      width: 100%;
      border: 0;
      border-radius: 5px;
      padding-left: 2rem;
      background-color: #eee;
      margin-bottom: 1rem;
    }
  }

  .icon.ifSearch {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
  }

  .#{$-bar-search-button} {
    flex: 0 0 auto;
    padding: 0 1rem;
    height: 2rem;
    border: 0;
    color: $-bar-search-button-color;
    background: transparent;
  }
}

.bar-search-enter-active {
  transition: all .5s ease;
}
.bar-search-leave-active {
  transition: all .3s ease;
}
.bar-search-enter, .bar-search-leave-active {
  opacity: 0;
}

.#{$-bar-tab-lists}{
  position: relative;
  overflow: hidden;
  height: 3rem;
  margin: 1rem 0;
  padding: 0 1rem;
  & > .#{$-bar-tab-items} {
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    height: 3rem;
    color: $-bar-tab-text-color;
    font-size: 1rem;
    > .tabItem {
      flex: 1 1 auto;
      text-align: center;
      height: 3rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0.2rem 0;
      &:hover{
        color: $-bar-tab-active-color;
      }
      & > p,
      & > .icon {
        flex: 0 0 auto;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        align-self: center;
      }
    }
  }
}

.is-active {
  color: $-bar-tab-active-color;
}
