@import "../variables";

$-button: #{$namespace}btn;
$-button-inline: #{$namespace}btn-inline;
$-button-disabled: #{$namespace}btn-disabled;
$-button-loading: #{$namespace}btn-loading;
$-button-primary: #{$namespace}btn-primary;
$-button-secondary: #{$namespace}btn-secondary;
$-button-inverse: #{$namespace}btn-inverse;
$-button-warning: #{$namespace}btn-warning;
$-button-error: #{$namespace}btn-error;

//
// @class .btn
//
.#{$-button} {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  margin-bottom: 1rem;
  height: 2.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: $base-radius;
  text-decoration: none;
  border: solid 1px transparent;
  line-height: 1.4rem;
}

//
// @class .btn.btn-inline
//
.#{$-button-inline} {
  display: inline-block;
}

//
// @class .btn.btn-disabled
//
.#{$-button-disabled} {
  cursor: not-allowed;
}

//
// @class .btn.btn-primary, etc.
//
@mixin button-style($bg, $color) {
  background-color: $bg;
  color: $color;
}

.#{$-button-primary} {
  @include button-style(map-get($colors, "green"), #fff);
}

.#{$-button-warning} {
  @include button-style(map-get($colors, "orange"), #fff);
}

.#{$-button-error} {
  @include button-style(map-get($colors, "pink"), #fff);
}

.#{$-button-secondary} {
  @include button-style(darken(map-get($colors, "gray-lighter"), 10%), #333);
}

.#{$-button-inverse} {
  @include button-style(lighten(map-get($colors, "gray"), 30%), #fff);
}
