@import "../variables";

$-btn: #{$namespace}btn;
$-btn-loading: #{$namespace}btn-loading;

$-btn-style: (
  primary: (
    normal: (bg: $green, color: #fff),
    hover: (bg: darken($green, 10%)),
  ),
  warning: (
    normal: (bg: $orange, color: #fff),
    hover: (bg: darken($green, 5%)),
  ),
  error: (
    normal: (bg: $pink, color: #fff),
    hover: (bg: darken($pink, 20%)),
  ),
  secondary: (
    normal: (bg: darken($gray-lighter, 10%)),
    hover: (bg: darken(darken($gray-lighter, 10%), 10%)),
  ),
  inverse: (
    normal: (bg: lighten($gray, 30%), color: #fff),
    hover: (bg: darken(lighten($gray, 30%), 10%)),
  ),
);

//
// @class .btn.btn-primary, etc.
//
@mixin btn-style($bg, $color) {
  background-color: $bg;
  color: $color;

  &:hover {
    background-color: darken($bg, 10%);
  }
}

@mixin btn-bg-color ($options) {
  @if map-get($options, "bg") {
    background-color: map-get($options, "bg");
  }
  @if map-get($options, "color") {
    color: map-get($options, "color");
  }
  @if map-get($options, "border") {
    border-color: map-get($options, "border");
  }
}

//
// @class .btn
//
.#{$-btn} {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  margin-bottom: 1rem;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  border-radius: $base-radius;
  text-decoration: none;
  border: none;
  line-height: 1.4rem;
  outline: none;

  //
  // @class .btn.is-block
  //
  &.is-block {
    display: block;
    width: 100%;
  }

  //
  // @class .btn.is-disabled
  //
  &.is-disabled {
    cursor: not-allowed;
  }

  //
  // @class .btn.is-success, etc.
  //
  @each $name, $value in $-btn-style {
    &.is-#{$name} {
      $normal: map-get($value, "normal");
      $hover: map-get($value, "hover");
      $active: map-get($value, "active");

      @if $hover == null {
        $hover: $normal;
      }

      @if $active == null {
        $active: $hover;
      }

      // normal
      & {
        @if $normal {
          @include btn-bg-color($normal);
        }
      }

      // hover
      &:hover {
        @if $hover {
          @include btn-bg-color($hover);
        }
      }

      // active
      &.active,
      &.active:hover,
      &:active {
        @if $active {
          @include btn-bg-color($active);
        }
      }
    }
  }
}

//
// @animation btn-rotate
//
@keyframes btn-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
   transform: rotate(360deg);
 }
}

//
// @class .btn-loading
//
.#{$-btn-loading} {
  border: 2px solid #fff;
  border-radius: 100%;
  border-bottom-color: transparent;
  height: 1.2rem;
  width: 1.2rem;
  background: transparent !important;
  display: inline-block;
  animation: btn-rotate 0.75s 0s linear infinite;
  vertical-align: middle;
}
