@import "../variables";

$-button: #{$namespace}btn;
$-icon: #{$namespace}icon;

// Using global variables
$-button-theme: $button-theme;

//
// @class .btn
//
.#{$-button} {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  border-radius: $base-radius;
  text-decoration: none;
  border: none;
  line-height: 1.4rem;
  outline: none;
  background: transparent;

  &.is-margin-bottom {
    margin-bottom: 0.5rem;
  }

  &.is-sm {
    height: 2rem;
    padding: 0.5rem 1rem;
    line-height: 1rem;
    border-radius: $base-radius * 0.75;
    font-size: 0.875rem;

    .#{$-icon} {
      vertical-align: -5px;
      margin-top: -6px;
    }
  }

  &.is-circle {
    padding: 0;
    width: 3rem;
    border-radius: 1.5rem;
  }

  &.is-block {
    display: block;
    width: 100%;
  }

  &.is-disabled {
    cursor: not-allowed;
  }

  &.is-circle.is-sm {
    width: 2rem;
    border-radius: 1rem;
  }
}

//
// @class .btn.btn-primary, etc.
//
@mixin btn-style($bg, $color) {
  background-color: $bg;
  color: $color;

  &:hover {
    background-color: darken($bg, 10%);
  }
}

@mixin btn-bg-color ($options) {
  @if map-get($options, "bg") {
    background-color: map-get($options, "bg");
  }

  @if map-get($options, "color") {
    color: map-get($options, "color");
  }

  @if map-get($options, "border") {
    border-color: map-get($options, "border");
    border-width: 1px;
    border-style: solid;
  }
}

@mixin btn-set-type ($name, $value) {
  &.is-#{$name} {
    $normal: map-get($value, "normal");
    $hover: map-get($value, "hover");
    $active: map-get($value, "active");
    $disable: map-get($value, "disable");

    @if $hover == null {
      $hover: $normal;
    }

    @if $active == null {
      $active: $normal;
    }

    @if $disable == null {
      $disable: $normal;
    }

    // normal
    & {
      @if $normal {
        @include btn-bg-color($normal);
      }
    }

    // hover
    &:hover {
      @if $hover {
        @include btn-bg-color($hover);
      }
    }

    // active
    &.is-active,
    &.is-active:hover,
    &:active {
      background: #fff;

      @if $active {
        @include btn-bg-color($active);
      }
    }

    // disabled
    &.is-disabled {
      &,
      &:hover,
      &.is-active,
      &.is-active:hover,
      &:active {
        @if $disable {
          @include btn-bg-color($disable);
        }
      }
    }
  }
}

.#{$-button} {
  //
  // @class .btn.is-success, etc.
  //
  @each $name, $value in $-button-theme {
    @include btn-set-type($name, $value);
  }
}
