@import "../variables";

$-card: #{$namespace}card;
$-card-z-index: 100;

.#{$-card} {
  position: relative;
  z-index: 100;
  border-radius: $base-radius;
  overflow: hidden;
  color: #000;
  background-color: rgba(255, 255, 255, .5);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: blur(80px);
    margin: -30px;
  }
}
