@import "../variables";
@import "../mixins/arrow";

$-card: #{$namespace}card;
$-card-header: #{$namespace}card-header;
$-card-icon: #{$namespace}card-icon;
$-card-title: #{$namespace}card-title;
$-card-controls: #{$namespace}card-controls;
$-card-block: #{$namespace}card-block;
$-card-lists: #{$namespace}card-lists;
$-card-item: #{$namespace}card-item;
$-card-item-addon: #{$namespace}card-item-addon;
$-card-item-help: #{$namespace}card-item-help;
$-card-item-action: #{$namespace}card-item-action;
$-card-item-body: #{$namespace}card-item-body;
$-card-media: #{$namespace}card-media;
$-card-group: #{$namespace}card-group;
$-card-group-note: #{$namespace}card-group-note;
$-card-btns: #{$namespace}card-btns;
$-card-btn: #{$namespace}card-btn;

//
// @var top-border
//
$-card-bordered-classes: ($-card-block, $-card-lists, $-card-btns, $-card-btn);

.#{$-card} {
  margin-bottom: $grid-gutters;
  border-radius: $base-radius;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.02);
  overflow: hidden;

  &.is-light {
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.#{$-card-header} {
  display: flex;
  padding: 0 $grid-gutters;
  height: 3rem;
  line-height: 3rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: $base-radius;
  border-top-right-radius: $base-radius;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
}

.#{$-card-icon} {
  margin-right: $grid-gutters / 2;
}

.#{$-card-title} {
  flex: 1 1;
  font-size: 1rem;
}

.#{$-card-controls} {
  &,
  a {
    color: #000;
    text-decoration: none;
  }
}

.#{$-card-block} {
  $border: solid 1px #eee;

  padding: $grid-gutters;

  &.is-gapless {
    padding: 0;
  }
}

.#{$-card-lists} {
  $border: solid 1px #eee;

  &.is-bottom-border {
    border-bottom: $border
  }
}

.#{$-card-item} {
  display: flex;
  padding: $grid-gutters;
  align-items: center;

  & + & {
    border-top: solid 1px #eee;
  }

  &.is-link {
    cursor: pointer;
  }

  &.is-link,
  &.is-arrow {
    &::after {
      @include make-arrow();
    }
  }
}

.#{$-card-item-addon} {
  flex-shrink: 0;
  margin-right: $grid-gutters / 2;
}

.#{$-card-item-body} {
  flex: 1;
}

.#{$-card-item-action} {
  display: flex;
  margin: $grid-gutters * -1 0;
  margin-left: $grid-gutters;
}

.#{$-card-item-help} {
  color: #666;
}

.#{$-card-media} {
  > img {
    display: block;
    width: 100%;
  }
}

.#{$-card-group} {
  margin-bottom: $grid-gutters;

  .#{$-card} {
    margin-bottom: 0;
  }
}

.#{$-card-group-note} {
  color: #666;
  font-size: 0.875rem;
  padding-left: $grid-gutters;
  margin-bottom: $grid-gutters / 2;
}

.#{$-card} + .#{$-card-group-note} {
  margin-top: $grid-gutters / 2;
  margin-bottom: 0;
}

//
// @style top-bordered
//
@each $class in $-card-bordered-classes {
  .#{$class} {

    & + & {
      border-top: solid 1px #eee;
    }

    @each $class2 in $-card-bordered-classes {
      .#{$class2} + & {
        border-top: solid 1px #eee;
      }
    }
  }
}

.#{$-card-btns} {
  display: flex;

  .#{$-card-btn} {
    flex: 1 1;
    border-left: solid 1px #eee;
    border-top: none;

    &:first-child {
      border-left: none;
    }
  }
}

.#{$-card-btn} {
  display: block;
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: $grid-gutters;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s;
  &:hover {
    background-color: #f2f2f2;
  }
}
