$-collapse: #{$namespace}collapse;
$-collapse-list: #{$namespace}collapse-list;
$-collapse-title: #{$namespace}collapse-title;
$-collapse-content: #{$namespace}collapse-content;
$collapse-gray: #ddd;
$collapse-radius: 5px;

.#{$-collapse} {
  width: 100%;
}

.#{$-collapse-list} {
  border: 1px solid $collapse-gray;
  border-radius: $collapse-radius;
  margin: 1rem 0;
  padding: 0;
}

.#{$-collapse-title} {
  background-color: lighten($collapse-gray, 10%);
  border-radius: $collapse-radius;
  padding: 0 1rem;
  cursor: pointer;
  border-bottom: 0;

  p {
    margin: 0;
    line-height: 3rem;
  }
  // is-selected
  &.is-selected {
    border-radius: $collapse-radius $collapse-radius 0 0;
    border-bottom: 1px solid $collapse-gray;
  }
}

.#{$-collapse-content} {
  padding: 0 1rem;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 999px;
}

.collapseToggle-enter-active,
.collapseToggle-leave-active {
  transition: all 0.2s ease;
}

.collapseToggle-enter,
.collapseToggle-leave-active {
  max-height: 0;
}
