@import "../variables";

$-form-label: #{$namespace}form-label;
$-form-control: #{$namespace}form-control;
$-form-group-title: #{$namespace}form-group-title;
$-form-group-help: #{$namespace}form-group-help;
$-form-radio-box: #{$namespace}form-radio-box;

.#{$-form-label} {
  display: block;
  width: 6rem;
}

.#{$-form-control} {
  width: 100%;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
}

.#{$-form-group-title},
.#{$-form-group-help} {
  font-size: 0.875rem;
  color: #666;
  padding-left: $grid-gutters;
}

.#{$-form-group-title} {
  font-weight: bold;
  margin-bottom: $grid-gutters / 2;
}

.#{$-form-group-help} {
  margin-top: $grid-gutters / -2;
  margin-bottom: $grid-gutters;
}

.#{$-form-radio-box} {
  color: darken($green, 10%);
}
