$-image: #{$namespace}image;

.#{$-image} {
  display: inline-block;

  > img {
    margin: 0;
    padding: 0;
  }

  &.is-block {
    display: block;
    overflow: hidden;
    background: #eee;

    > img {
      display: block;
      width: 100%;
    }
  }
}
