$-image: #{$namespace}image;
$-block-image: #{$namespace}block-image;

.#{$-image} {
  // Some image scss
}

.#{$-block-image} {
  overflow: hidden;
  background: #eee;

  > img {
    width: 100%;
    display: block;
  }
}
