$-input: #{$namespace}input;
$-input-item: #{$namespace}input-item;
$-input-icon: #{$namespace}input-icon;
$-input-clear: #{$namespace}input-clear;
$input-color: #ccc;

.#{$-input} {
  width: 100%;
  position: relative;
}

.#{$-input-item} {
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid $input-color;
  border-radius: 3px;
  outline: none;
}

.#{$-input-icon} {
  position: absolute;
  display: block;
  height: 2rem;
  top: 0;
  color: darken($input-color, 40%);
}

.#{$-input-clear} {
  position: absolute;
  height: 2rem;
  top: 0;
  right: 0;
  border: 0;
  background-color: transparent;
  color: darken($input-color, 40%);
  outline: none;
}
