$-popup: #{$namespace}popup;
$-popup-mask: #{$namespace}popup-mask;

.#{$-popup} {
  position: fixed;
  right: $grid-gutters / 2;
  bottom: $grid-gutters / 2;
  left: $grid-gutters / 2;

  &.is-center {
    top: 45%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.is-top {
    top: 1rem;
  }
}

.#{$-popup-mask} {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.4;
  z-index: 1000;
}

//
// @animation
//
.#{$-popup}-slide-enter-active,
.#{$-popup}-slide-leave-active {
  transition: transform 0.3s;
}
.#{$-popup}-slide-enter,
.#{$-popup}-slide-leave-active {
  transform: translateY(100%);
}

.#{$-popup}-fade-enter-active,
.#{$-popup}-fade-leave-active {
  transition: opacity 0.5s linear;
}
.#{$-popup}-fade-enter,
.#{$-popup}-fade-leave-active {
  opacity: 0
}

.#{$-popup-mask}-fade-enter-active,
.#{$-popup-mask}-fade-leave-active {
  transition: opacity 0.3s linear;
}
.#{$-popup-mask}-fade-enter,
.#{$-popup-mask}-fade-leave-active {
  opacity: 0
}

.#{$-popup}-slideup-enter-active,
.#{$-popup}-slideup-leave-active {
  transition: transform 0.3s;
}
.#{$-popup}-slideup-enter,
.#{$-popup}-slideup-leave-active {
  transform: translateY(100%);
}
