$-popup: #{$namespace}popup;
$-popup-mask: #{$namespace}popup-mask;

.#{$-popup} {
  position: fixed;
  right: $grid-gutters / 2;
  bottom: $grid-gutters / 2;
  left: $grid-gutters / 2;

  // For confirm and alert dialog
  &-dialog {
    width: 280px;
    top: 45%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-toastr {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    padding: 1rem 1rem 0;

    > .card {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 500px;
      margin: 0 auto;
    }
  }

  //
  // @animation
  //

  // Slide from down
  &-slide-enter-active,
  &-slide-leave-active {
    transition: transform 0.3s;
  }

  &-slide-enter,
  &-slide-leave-active {
    transform: translateY(100%);
  }

  // Fade in
  &-fade-enter-active,
  &-fade-leave-active {
    transition: opacity 0.5s linear;
  }

  &-fade-enter,
  &-fade-leave-active {
    opacity: 0;
  }

  // Slide from up
  &-slideup-enter-active {
    transition: transform 0.3s;
  }

  &-slideup-leave-active {
    transition: opacity 0.3s linear;
  }

  &-slideup-enter {
    transform: translateY(-100%);
  }

  &-slideup-leave-active {
    opacity: 0;
  }
}

.#{$-popup-mask} {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.4;
  z-index: 1000;

  // Fade in
  &-fade-enter-active,
  &-fade-leave-active {
    transition: opacity 0.3s linear;
  }

  &-fade-enter,
  &-fade-leave-active {
    opacity: 0;
  }
}
