$scroll-to-top-color: #ccc;

.scrollbar-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-top-content {
  width: 100%;
  height: 50px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon,
  p {
    font-size: 0.8rem;
    color: #333;
  }
}

.scrollbar-bottom-button {
  display: block;
  width: 100%;
  margin: 10px auto;
  font-size: 0.75rem;
  color: #999;
  border: 0;
  background-color: transparent;
  outline: none;
}

.scrollbar-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
  border: 0;
  border-radius: 5px;
  background-color: $scroll-to-top-color;
  color: darken($scroll-to-top-color, 30%);
  outline: none;

  &:hover {
    background-color: lighten($scroll-to-top-color, 5%);
  }
}

.scroller-slideUp-enter-active,
.scroller-slideUp-leave-active {
  transition: all 0.3s ease;
}

.scroller-slideUp-enter,
.scroller-slideUp-leave-active {
  transform: translateY(100%);
  opacity: 0;
}

.scroller-slideDown-enter-active,
.scroller-slideDown-leave-active {
  transition: all 0.3s ease;
}

.scroller-slideDown-enter,
.scroller-slideDown-leave-active {
  transform: translateY(-100%);
  opacity: 0;
}
