@import "../variables";
$-bar-search: #{$namespace}bar-search;
$-bar-search-input: #{$namespace}bar-search-input;
$-bar-search-button: #{$namespace}bar-search-button;
$-bar-search-button-color: $pink;

.#{$-bar-search} {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;

  .icon {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
  }

  button:focus,
  input:focus {
    outline: none;
  }
}

.#{$-bar-search-input} {
  display: block;
  flex: 1 1;
  position: relative;

  input {
    height: 2rem;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding-left: 2rem;
    background-color: #eee;
    margin-bottom: 1rem;
  }
}

.#{$-bar-search-button} {
  flex: 0 0;
  padding: 0 1rem;
  height: 2rem;
  border: 0;
  color: $-bar-search-button-color;
  background: transparent;
}

.bar-search-enter-active {
  transition: all 0.5s ease;
}

.bar-search-leave-active {
  transition: all 0.3s ease;
}

.bar-search-enter,
.bar-search-leave-active {
  opacity: 0;
  transform: translateX(100%);
}
