@import "../variables";

$-tab: #{$namespace}tab;
$-tab-item: #{$namespace}tab-item;

.#{$-tab} {
  display: flex;
  position: fixed;
  width: 100%;
  height: 3rem;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
}

.#{$-tab-item} {
  flex: 1 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.5rem;
  line-height: 2rem;

  &:hover {
    background: darken(map-get($colors, "green"), 10%);
    color: #fff;
  }
}
