@import "../variables";

$-tab: #{$namespace}tab;
$-tab-item: #{$namespace}tab-item;

.#{$-tab} {
  position: fixed;
  width: 100%;
  height: 3rem;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
}

#{$-tab-item} {

}
