$-tag: #{$namespace}tag;

$-tag-style: (
  primary: $green,
  warning: $orange,
  error: $pink,
  secondary: #d9d9d9,
  inverse: #505050,
);

@mixin get-color($type) {
  background-color: map-get($-tag-style, $type);
}

.#{$-tag}{
  font-size: 0.9rem;
  padding: 0.1rem 0.6rem;
  display: inline-block;
  border-radius: 2rem;
  font-style: normal;
  cursor: default;
  color: #fff;

  // is-primary, is-secondary, is-error etc.
  @each $name, $value in $-btn-style {
    &.is-#{$name}{
      @include get-color($name);
    }
  }
}
