@import "../../scss/vars";

// 公有属性，可修改
$mn-turn-theme:               () !default;

// 私有属性
$-mn-turn-default-theme: (
  primary: (bg: $gray-lighter, active: $green, border: $gray-darker)
);
$-mn-turn-theme: map-merge($-mn-turn-default-theme, $mn-turn-theme) !default;
