{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": [
            "defaults",
            "not ie <= 100",
            "not ExplorerMobile <= 100",
            "not Opera <=100",
            "not OperaMini <= 100",
            "not OperaMini all",
            "not OperaMobile <= 100",
            "not BlackBerry <= 100"
          ]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false
}
