@import "../../../shares/scss/vars";
$mn-swipe-active-bg: $pink !default;
.mn-swipe {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mn-swipe-content {
    display: flex;
}

.mn-swipe-indicators {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0.5rem;
}

.mn-swipe-indicator {
    $-radius: 0.5rem;
    width: $-radius;
    height: $-radius;
    background: rgba(255, 255, 255, 0.8);
    border-radius: $-radius * 0.5;
    margin: 0 0.25rem;
    transition: width 0.2s, background 0.8s;
    &.is-active {
        width: $-radius * 1.6;
        height: $-radius * 1.1;
        background: $mn-swipe-active-bg;
    }
}

.mn-swipe-item {
    max-width: 100vw;
    flex-shrink: 0;
    float: left;
    box-sizing: border-box;
    text-align: center;
    a {
        display: block;
        width: 100%;
        overflow: hidden;
        text-decoration: none;
    }
    &>img {
        width: 100%;
        height: 100%;
        display: block;
    }
}
