@import "../variables";
@import "../mixins/arrow";

$-card: #{$namespace}card;
// card children
$-card-block: #{$namespace}card-block;
$-card-item: #{$namespace}card-item;
$-card-btns: #{$namespace}card-btns;
$-card-media: #{$namespace}card-media;
// card wrapper
$-card-group: #{$namespace}card-group;
$-card-group-note: #{$namespace}card-group-note;
// card top-border
$-card-bordered-classes: ($-card-item, $-card-btns);

.#{$-card} {
  margin-bottom: $grid-gutters;
  border-radius: $base-radius;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.02);
  overflow: hidden;

  &.is-light {
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.#{$-card-item} {
  display: flex;
  padding: $grid-gutters;
  align-items: center;

  &.is-focus {
    background: #f5f5f5;
  }

  &.is-link,
  &.is-cursor {
    cursor: pointer;
  }

  &.is-link,
  &.is-arrow {
    &::after {
      @include make-arrow();
    }
  }

  &.is-disabled {
    background: #eee;
  }

  &-addon {
    flex-shrink: 0;

    &.is-prefix {
      margin-right: 0.5rem;
    }

    &.is-suffix {
      margin-left: 0.5rem;
    }

    &.is-muted {
      color: #666;
    }

    &.is-action {
      display: flex;
      margin-top: -$grid-gutters;
      margin-bottom: -$grid-gutters;
      align-items: center;
    }
  }

  // middle body
  &-body {
    flex: 1;
    overflow: hidden;
  }
}

.#{$-card-media} {
  > img {
    display: block;
    width: 100%;
  }
}

.#{$-card-group} {
  margin-bottom: $grid-gutters;

  .#{$-card} {
    margin-bottom: 0;
  }
}

.#{$-card-group-note} {
  color: #666;
  font-size: 0.875rem;
  padding-left: $grid-gutters;
  margin-bottom: $grid-gutters / 2;
}

.#{$-card} + .#{$-card-group-note} {
  margin-top: $grid-gutters / 2;
  margin-bottom: 0;
}

.#{$-card-btns} {
  > .button,
  > button {
    display: block;
    outline: none;
    -webkit-appearance: none;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: $grid-gutters;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
    border-top: solid 1px #eee;

    &:first-child {
      border-top: none;
    }

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &.is-column {
    display: flex;

    > .button,
    > button {
      flex: 1 1;
      border-top: none;
      border-left: solid 1px #eee;

      &:first-child {
        border-left: none;
      }
    }
  }
}

//
// @style top-bordered
//
@each $class in $-card-bordered-classes {
  .#{$class} {
    & + & {
      border-top: solid 1px #eee;
    }

    @each $class2 in $-card-bordered-classes {
      .#{$class2} + & {
        border-top: solid 1px #eee;
      }
    }
  }
}
