@import "../variables";
@import "../mixins/media";
@import "../mixins/number";

$-cols: #{$namespace}cols;
$-col: #{$namespace}col;

// Columns
// @class .cols
//
.#{$-cols} {
  display: flex;
  margin: 0 $grid-gutters * -0.5;
  flex-wrap: wrap;

  &.is-gapless {
    margin: 0;

    > .#{$-col} {
      padding: 0;
    }
  }
}

// Column
// @class .col
//
.#{$-col} {
  width: 100%;
  overflow: hidden;
  padding: 0 $grid-gutters * 0.5;

  @include min-screen(sm) {
    flex: 1;
  }

  // Column span and offset
  // @divice(mobile, tablet, desktop, widescreen)
  //
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include min-screen($breakpoint) {
      @for $number from 1 through 12 {
        &.is-#{$breakpoint}-#{getLetterByNumber($number)} {
          flex: none;
          width: (100% / 12) * $number;
        }

        &.is-#{$breakpoint}-offset-#{getLetterByNumber($number)} {
          margin-left: (100% / 12) * $number;
        }
      }
    }
  }
}
