// Namespace
$-image: #{$namespace}image;
$-image-loading: #{$namespace}image-loading;

// Using global base radius
$-rounded-radius: $base-radius;

//
// @class .image
//
.#{$-image} {
  display: inline-block;
  overflow: hidden;

  > img {
    margin: 0;
    padding: 0;
  }

  &.is-block {
    display: block;
    background: #eee;
    position: relative;

    > img {
      display: block;
      width: 100%;
    }
  }

  &.is-circle {
    border-radius: 50%;
  }

  &.is-rounded {
    border-radius: $-rounded-radius;
  }
}

//
// @class image-loading
//
.#{$-image-loading} {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
