@import "../variables";

$-letter: #{$namespace}letter;
$-letter-body: #{$namespace}letter-body;
$-letter-action: #{$namespace}letter-action;

.#{$-letter} {
  display: flex;
}

.#{$-letter-body} {
  flex: 1;
  margin: $grid-gutters;
}

.#{$-letter-action} {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: $grid-gutters;
}
