$-loading-icon: #{$namespace}loading-icon;

.#{$-loading-icon} {
  @keyframes #{$-loading-icon} {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.6);
    }

    100% {
      transform: scale(1);
    }
  }

  width: 16px;
  height: 16px;
  display: inline-block;
  background: currentColor;
  border-radius: 8px;
  vertical-align: -2px;
  animation: #{$-loading-icon} 1.5s infinite linear;
}
