$-slide-wrap: #{$namespace}slide-wrap;
$-slide-content: #{$namespace}slide-content;
$-slide-bar: #{$namespace}slide-bar;
$-slide-bar-item: #{$namespace}slide-bar-item;

.#{$-slide-wrap} {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0 1rem;
  width: 100%;
}

.#{$-slide-bar} {
  display: flex;
}

.#{$-slide-bar-item} {
  flex: 0 0 auto;
  flex-wrap: nowrap;
  padding: 0 0.5rem;
}

.#{$-slide-bar}.is-full {
  width: 100%;

  .#{$-slide-bar-item} {
    flex: 0 0 100%;
  }
}

.#{$-slide-bar}.is-back {
  transition: 0.5s ease-out;
}
