@import "../../../shares/scss/vars";

// Import external css
@import "~@humans/layer/dist/main.css";
@import "~@humans/shade/dist/main.css";
@import "~@humans/card/dist/main.css";

$mn-confirm-width: 280px;

.mn-confirm {
  position: fixed;
  width: $mn-confirm-width;
  top: 45%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}
