.mn-menu {
  width: 100%;
}

.mn-menu-content {
  overflow: hidden;
  box-sizing: border-box;
  max-height: 999px;
}

.mn-menu-toggle-enter-active,
.mn-menu-toggle-leave-active {
  transition: all 0.2s ease;
}

.mn-menu-toggle-enter,
.mn-menu-toggle-leave-active {
  max-height: 0;
}
