@import "../../../shares/scss/vars";

// Import external css
@import "~@humans/icon/dist/main.css";

.mn-textarea-control {
  display: block;
  width: 100%;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
  appearance: none;
  resize: none;
  line-height: 1.5;
}

.mn-textarea-counter {
  border-top: solid 1px #eee;
  padding-top: 0.5rem;
  text-align: right;
}
