.mn-loading-icon-default {
  @keyframes mn-loading-icon-default {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.6);
    }

    100% {
      transform: scale(1);
    }
  }

  width: 16px;
  height: 16px;
  margin: 0 2px;
  display: inline-block;
  background: currentColor;
  border-radius: 8px;
  vertical-align: -2px;
  animation: mn-loading-icon-default 1.5s infinite linear;
}
